body, html {
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background-image: url("../images/ZenBG-1.png"), url("../images/ZenBG-2.png");
	background-repeat: repeat-x, repeat;
	color: white;
}

.container {
	min-width: 1200px;
}

#characters {
	padding:0px 40px;
}

#characters > h1 {
	position: absolute;
	top: 80px;
	left:130px;	
	width: 350px;
	font-size: 3.5em;
}

.choice {
	float: right;
	display: inline-block;
	text-align: center;
	border-radius: 25px;
	overflow: hidden;
	margin:15px 10px;
	background-color: none;
	transition: background-color .5s;
	padding:5px;
}

.choice:hover {
	background-color: rgba(255,255,255,.3);
}

.choice h1 {
	font-size:2em;
	margin:5px;
	font-weight: bold;

}

.choice img {
	width: 130px;
}

#environment {
	color: white;
	width: 1200px;
	margin:0 auto;
	min-height: 675px;
	height: auto;
	background-image: url('../images/battlePlatform.png');
	background-position: left top;
	background-repeat:no-repeat;
    background-size:1200px 675px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 0px 100px 30px black inset;
    margin:20px;
}

.enemy, .player, .dead{
	border:5px solid black;
	border-radius: 15px;
	display: inline-block;
	background-color: none;
	padding: 5px;
	transition: background-color .4s, transform .4s;
	position: absolute;
}

.enemy {
	border-color: rgba(255,80,0,.6);
	cursor:crosshair;
}

.enemy:hover {
	background-color: rgba(255,80,0,.6);
	transform: rotate(366deg);
}

.enemy:hover img{
	width: 170px;
}

.player {
	border-color: rgba(0,155,0,.6);
}

.player:hover {
	background-color: rgba(0,155,0,.6);
}

.enemy img, .player img, .dead img {
	width: 130px;
	transition: width .4s;
}

.enemy h1, .player h1 {
	float: left;
}

.enemy h2, .player h2 {
	float: right;	
}

#Starfox {
	top: 117px;
	left: 170px;
}

#Mario {
	top:300px;
	left: 350px;
}

#Link {
	 top:300px;
 	left: 600px;
}

#DonkeyKong {
	top: 117px;
	left: 900px;
}

#DonkeyKong h1 {
	padding-right: 10px;
}

#DonkeyKong img {
	padding-left: 10px;
}

.defender {
	background-color: none;
	border-color: rgba(255,0,0,.6);
}

.defender:hover {
	background-color: rgba(255,0,0,.6);
}

.dead {
	border: hidden;
	transform: rotate(90deg);
	position: relative;
}
.dead h1 {
	visibility: hidden;
}

.dead h2 {
	visibility: hidden;	
}

.dead img {
	opacity: .8;
}

#graveyard {
	min-height: 175px;
	width: 430px;
	margin: 0 auto 30px auto;
	background-color: rgba(0,0,0,.6);
	box-shadow: 0px 0px 30px 5px black inset;
	border-radius: 20px;
	position: relative;
	text-align: center;
}

#graveyard > h1 {
	font-size: 4em;
	letter-spacing: 0px;
	position: absolute;
	top: 55px;
	left:25px;
	opacity: .5;
}

#restartPanel {
	width: 100%;
	height: 260px;
	border-top:5px solid white;
	border-bottom:5px solid white;
	background-color: rgba(255,255,255,.5);
	color: black;
	position: absolute;
	top: 200px;
	text-align: center;
	font-size: 4em;
	padding-top: 40px;
}

#yes, #no {
	padding: 0px 30px;
	font-size: .4em;
	margin:0 15px;
	border-radius: 5px;
}
.clearfix {
	clear: both;
}






